
* {
    /* font-family: "Montserrat"; */
  }
  :root {
    background-color: #121214;
  }
  body, html{
    height: 100%;
  }
  
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #121214;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
    color: none;
  }
  